# Agent envs
PORT=8080
AWS_REGION=us-east-1
EVM_RPC_URL="https://mainnet.infura.io/v3/YOUR_INFURA_PROJECT_ID"
BEDROCK_MODEL_ID=global.anthropic.claude-sonnet-4-6
EXCHANGE_RATE_MCP_URL="http://localhost:8081/mcp"

# HTTP MCP Server envs
HTTP_MCP_PORT=8081
NODE_TLS_REJECT_UNAUTHORIZED=0 # Local development only - allows self-signed certificates

# x402 MCP Server envs
X402_APP_URL="https://j14d7ms014.execute-api.us-east-1.amazonaws.com"
EVM_PRIVATE_KEY= # For development purposes only - DO NOT USE IN PRODUCTION - DO NOT PUT YOUR KEY IN THE ENV FILE!

# Invoke script envs
# AWS_REGION is already defined above, but you can override it here if needed
AGENT_RUNTIME_ARN=arn:aws:bedrock-agentcore:us-east-1:YOUR_ACCOUNT_ID:runtime/my-agent-service-XXXXXXXXXX
